h1 {
    color: orangered;
}

.special{
    color: orange;
    font-style: italic;
    font-weight: bold;
}

li em {
    color: firebrick;
}

li rem{
    color: red;
    font-weight: bold;
}

a:link {
    color: deeppink;
}

a:visited {
    color: hotpink;
}
a:hover {
    text-decoration: none;
    color: chocolate;
}

p + p {
    color: darkolivegreen;
}