article p span {
    color: black;
}

h1 {
    color: blue;
}

.outer {
    border: 5px solid black;
}

.box {
    padding: 10px;
    width: calc(90% - 50px);
    background-color: lemonchiffon;
    color: darkslategrey;
    border-radius: 60px;
}

.boxy {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: deeppink;
    transform: rotate(0.40turn);
}